<body>
    <pre>
♦ Armor Value : AV
○ Dodge Value : DV
→ Penetration : PV
Mental Armor : MA
♥ Hitpoints : HP
    </pre>
    <h2>PHYSICAL MUTATIONS TABLE</h2>
    <p>The original table was made based on opinions from this reddit post:
        https://www.reddit.com/r/cavesofqud/comments/1abrr0d/highly_opinionated_guide_about_at_which_levels/ </p>
    <table>
        <tr>
            <th>Mutation</th>
            <th>Target Level</th>
            <th>Notes</th>
        </tr>
        <tr>
            <td>Adrenal Control</td>
            <td>10</td>
            <td>Stop unless min-maxing other physical mutations</td>
        </tr>
        <tr>
            <td>Burrowing Claws</td>
            <td>16</td>
            <td>+48 PV breakpoint, more than enough to break most walls</td>
        </tr>
        <tr>
            <td>Carapace</td>
            <td>16</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Corrosive Gas Generation</td>
            <td>10</td>
            <td>Good to dump rapid advancements if nothing else available</td>
        </tr>
        <tr>
            <td>Double-Muscled</td>
            <td>13/19/25</td>
            <td>Major breakpoints at these levels</td>
        </tr>
        <tr>
            <td>Electrical Generation</td>
            <td>10+</td>
            <td>Linear scaling, good for tinkers or dump stat like corrosive</td>
        </tr>
        <tr>
            <td>Electromagnetic Pulse</td>
            <td>10</td>
            <td>Duration scales but not recommended past 10</td>
        </tr>
        <tr>
            <td>Flaming Ray</td>
            <td>10</td>
            <td>Linear scaling, lukewarm investment</td>
        </tr>
        <tr>
            <td>Freezing Ray</td>
            <td>10+</td>
            <td>Better than Flaming Ray due to freeze threshold</td>
        </tr>
        <tr>
            <td>Heightened Hearing</td>
            <td>10</td>
            <td>Poor scaling, stop at 16/19 if you have to for some reason</td>
        </tr>
        <tr>
            <td>Heightened Quickness</td>
            <td>19</td>
            <td>Breakpoint at 19, okay at 16, nice at 28, leave at 10 unless minmaxing quickness</td>
        </tr>
        <tr>
            <td>Horns</td>
            <td>10</td>
            <td>Breakpoints at 16/22 only</td>
        </tr>
        <tr>
            <td>Multiple Arms</td>
            <td>1</td>
            <td>Good at 1, only level for multi-wield builds, no Breakpoint</td>
        </tr>
        <tr>
            <td>Multiple Legs</td>
            <td>10</td>
            <td>If going fast: Breakpoint with +40MS at 13, Breakpoint with +20MS at 19, non-boot Breakpoint at 25</td>
        </tr>
        <tr>
            <td>Phasing</td>
            <td>10</td>
            <td>Linear scaling, higher for low WIL builds</td>
        </tr>
        <tr>
            <td>Photosynthetic Skin</td>
            <td>13</td>
            <td>Breakpoints at 13/25</td>
        </tr>
        <tr>
            <td>Quills</td>
            <td>13</td>
            <td>Stop at Breakpoint which is 13</td>
        </tr>
        <tr>
            <td>Regeneration</td>
            <td>10</td>
            <td>New functionality at 5, stop at 10</td>
        </tr>
        <tr>
            <td>Sleep Gas Generation</td>
            <td>10</td>
            <td>Same as Corrosive Gas</td>
        </tr>
        <tr>
            <td>Spinnerets</td>
            <td>10</td>
            <td>Good at 1, better scaling than Multi Arms</td>
        </tr>
        <tr>
            <td>Stinger (Confusing)</td>
            <td>16/19</td>
            <td>Dmg/confusion caps 18-19</td>
        </tr>
        <tr>
            <td>Stinger (Paralyzing)</td>
            <td>16/19</td>
            <td>Same as Confusing</td>
        </tr>
        <tr>
            <td>Stinger (Poison)</td>
            <td>19+</td>
            <td>Poison dmg continues scaling past 18</td>
        </tr>
        <tr>
            <td>Triple-Jointed</td>
            <td>13/19/25</td>
            <td>Like Double-Muscled, if minmaxing 100% CD is lvl 31 which is hard to get</td>
        </tr>
        <tr>
            <td>Two-headed</td>
            <td>1</td>
            <td>Scaling stops past 17 and leveling to/past that is only useful for mental mutation users</td>
        </tr>
        <tr>
            <td>Two-hearted</td>
            <td>13/19/25</td>
            <td>Same as Double-Muscled</td>
        </tr>
        <tr>
            <td>Wings</td>
            <td>15/22</td>
            <td>Breakpoint No fall at 6, Breakpoint -95% lost at 15, Breakpoint 24 no chance to fall when attacking</td>
        </tr>
    </table>
    <h2>MENTAL MUTATIONS TABLE</h2>
    <p>Note: With high ego these can be left at level 1</p>
    <table>
        <tr>
            <th>Mutation</th>
            <th>Target Level</th>
            <th>Notes</th>
        </tr>
        <tr>
            <td>Beguile</td>
            <td>1 or Max</td>
            <td>Breakpoint: High as possible if > Ego, else lvl 1</td>
        </tr>
        <tr>
            <td>Burgeoning</td>
            <td>13/15/19</td>
            <td>Breakpoint: 11(5s CD), 13/15/19(plant tier upgrades)</td>
        </tr>
        <tr>
            <td>Clairvoyance</td>
            <td>15</td>
            <td>Breakpoint: 15(full area reveal)</td>
        </tr>
        <tr>
            <td>Confusion</td>
            <td>Any</td>
            <td>No Breakpoints, scales continuously</td>
        </tr>
        <tr>
            <td>Cryokinesis</td>
            <td>Any</td>
            <td>No Breakpoints, scales continuously</td>
        </tr>
        <tr>
            <td>Disintegration</td>
            <td>Any</td>
            <td>No Breakpoints, scales continuously</td>
        </tr>
        <tr>
            <td>Domination</td>
            <td>1 or Max</td>
            <td>Like Beguile + duration scaling</td>
        </tr>
        <tr>
            <td>Ego Projection</td>
            <td>13</td>
            <td>Breakpoint: 13(permanent buff with 32+ WIL)</td>
        </tr>
        <tr>
            <td>Force Bubble</td>
            <td>1/4</td>
            <td>Breakpoint: 4(permanent with 32+ WIL)</td>
        </tr>
        <tr>
            <td>Force Wall</td>
            <td>1/4</td>
            <td>Breakpoint: 4(permanent with 32+ WIL)</td>
        </tr>
        <tr>
            <td>Light Manipulation</td>
            <td>30</td>
            <td>Breakpoint: Every odd level and lvl 30(100% reflect)</td>
        </tr>
        <tr>
            <td>Mass Mind</td>
            <td>9</td>
            <td>Breakpoint: 9(100 cooldown)</td>
        </tr>
        <tr>
            <td>Mental Mirror</td>
            <td>Any</td>
            <td>No notable Breakpoints</td>
        </tr>
        <tr>
            <td>Precognition</td>
            <td>10</td>
            <td>Breakpoint: 10(minimal benefits after)</td>
        </tr>
        <tr>
            <td>Psychometry</td>
            <td>13</td>
            <td>Breakpoint: 8(ID all without mods), 13(craft all without mods)</td>
        </tr>
        <tr>
            <td>Pyrokinesis</td>
            <td>Any</td>
            <td>No Breakpoints, scales continuously</td>
        </tr>
        <tr>
            <td>Space-Time Vortex</td>
            <td>11</td>
            <td>Breakpoint: 11(5s minimum CD)</td>
        </tr>
        <tr>
            <td>Stunning Force</td>
            <td>13/19/25</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Sunder Mind</td>
            <td>Any</td>
            <td>Higher is better</td>
        </tr>
        <tr>
            <td>Syphon Vim</td>
            <td>Any</td>
            <td>Same as above</td>
        </tr>
        <tr>
            <td>Teleport Other</td>
            <td>11</td>
            <td>Breakpoint: 11(5s minimum CD)</td>
        </tr>
        <tr>
            <td>Teleportation</td>
            <td>11</td>
            <td>Breakpoint: 11(lowest uncertainty)</td>
        </tr>
        <tr>
            <td>Temporal Fugue</td>
            <td>Odd</td>
            <td>Breakpoint: Every odd level</td>
        </tr>
        <tr>
            <td>Time Dilation</td>
            <td>15</td>
            <td>Breakpoint: 15(100%+ quickness penalty adjacent)</td>
        </tr>
    </table>

    <h2>CHARACTER BUILDS</h2>
    <p> This section contains random builds I found online that I've enjoyed, mostly from qudzoo.</p>

    <h3>1. ESPER-ITED AWAY</h3>
    <p>By kernelmethod: https://wiki.cavesofqud.com/wiki/Build_Library#Esper-ited_Away</p>

    <pre>
ATTRIBUTES:
- Strength: 13
- Agility: 16
- Toughness: 18
- Intelligence: 18
- Willpower: 22
- Ego: 18

BACKGROUND:
- Greybeard Mutated Human

MUTATIONS:
- Esper
- Clairvoyance
- Force Wall
- Light Manipulation
- Sunder Mind
- Socially Repugnant (D)

SKILLS:
- Cudgel Proficiency
- Berate
- Calloused

BONUSES:
- Start with +100 bear reputation
</pre>

    <p>Notes:</p>
    <pre>
  First few levels level up Light manipulation. Then raise ego and get as many mental mutations as you can.
  You can also go with one stack of Unstable Genome instead of Force Wall.
</pre>
    <h3>2. PEW PEW PEW!</h3>
    <p>By Kwipse : https://www.qudzoo.com/builds/641da75176c256c1b0d14ef5</p>
    <pre>
ATTRIBUTES:
- Strength: 14
- Agility: 22
- Toughness: 18
- Intelligence: 14
- Willpower: 18
- Ego: 18

BACKGROUND:
- Gunslinger

MUTATIONS:
- Light Manipulation
- Two-Headed
- Temporal Fugue
- Triple-jointed
- Telepathy
- Irritable Genome (D)

SKILLS:
- Pistol Proficiency
- Rifle Proficiency

</pre>

    <p>Notes:</p>
    <pre>
- Get guns and lots of ammo
- Max your DV
- Press fugue
- Try to survive the bullet hell
</pre>
    <h3>3. AXBOMINATION</h3>
    <pre>
ATTRIBUTES:
- Strength: 20 (18+2)
- Agility: 18
- Toughness: 18
- Intelligence: 18
- Willpower: 18
- Ego: 14
BACKGROUND:
- Mutant Marauder
MUTATIONS:
- Chimera
- Irritable Genome
- Unstable Genome x5
</pre>
    <h2>TIPS AND FACTS</h2>
    <h3>Qud ingredients to look out for</h3>

    <ul>
        <li><strong>Beguiling:</strong> Congealed Love. (Be warned, though, that when the meal's effect times out,
            anything you've Beguiled will turn hostile.)</li>
        <li><strong>Burgeoning:</strong> Algae, Crushed Grave Moss.</li>
        <li><strong>Cryokinesis:</strong> Convalessence, Freeze-Dried Hoarshrooms.</li>
        <li><strong>Pyrokinesis:</strong> Congealed Blaze, Cured Dawnglider Tail, Fire Ant Gaster Paste.</li>
        <li><strong>Psychometry:</strong> Bananas.</li>
        <li><strong>Teleport Other:</strong> Fermented Yondercane, Voider Gland Paste.</li>
    </ul>
    <p>Other important ingredients for meals include:</p>
    <ul>
        <li><strong>Congealed Love:</strong> +4 Ego. This kind of endgame-worthy boost is honestly better for a recipe
            than Beguiling.</li>
        <li><strong>Drop of Nectar:</strong> For espers that want to reroll mutations after checking with precog.</li>
        <li><strong>Honey:</strong> Disease resistance (another reason to learn Cooking early, so you can have this
            recipe ready for Golgotha).</li>
        <li><strong>Mashed Lag:</strong> +4 Willpower, in case your average Willpower is making you feel insecure.</li>
        <li><strong>Meat/Jerky (of any sort):</strong> Bonus HP. One of the most readily available (and useful)
            ingredients.</li>
        <li><strong>Neutron Flux:</strong> Permanent +1 AV with a small chance of instadeath, so cook with this ONLY
            after you attain (and use) Precognition.</li>
        <li><strong>Concentrated Nullbeard Gland Paste:</strong> Normality breath is one way to ruin an Esper-hunter's
            day.</li>
        <li><strong>Picked Mushrooms:</strong> Fungus faction rep, fungal infection resistance.</li>
        <li><strong>Psychal Gland Paste:</strong> Reveals a secret.</li>
        <li><strong>Sliced Bop Cheek:</strong> Rare, but can grant 90% falling damage reduction for a shortcut through
            Golgotha.</li>
        <li><strong>Spine Fruit Jam / Mirror Dust:</strong> Reflects damage, wrecking attempts to sunder your mind by
            fragile Seekers.</li>
        <li><strong>Canned-Have-It-All:</strong> Randomly duplicates any ingredient, including the ones above. Be warned
            that it can also duplicate BAD ingredients (like glotrot-causing Black Ooze), so you might want to use
            Precognition before experimenting with this.</li>
    </ul>
    <h3>FACTION SKILLS TABLE</h3>
    Table originally from https://gist.github.com/kdrnic/0f3a4b228f70d039bd764a5a390c55ec
    <table>
        <tr>
            <th>Faction</th>
            <th>Skills</th>
        </tr>
        <tr>
            <td>Antelopes</td>
            <td>none</td>
        </tr>
        <tr>
            <td>Apes</td>
            <td>Conk</td>
        </tr>
        <tr>
            <td>Arachnids</td>
            <td>Lunge</td>
        </tr>
        <tr>
            <td>Baboons</td>
            <td>none</td>
        </tr>
        <tr>
            <td>Baetyls</td>
            <td>?</td>
        </tr>
        <tr>
            <td>Barathrumites</td>
            <td>Tinkering I</td>
        </tr>
        <tr>
            <td>Bears</td>
            <td>none</td>
        </tr>
        <tr>
            <td>Beasts</td>
            <td>none</td>
        </tr>
        <tr>
            <td>Birds</td>
            <td>none</td>
        </tr>
        <tr>
            <td>Cannibals</td>
            <td>Butchery</td>
        </tr>
        <tr>
            <td>Cats</td>
            <td>Acrobatics</td>
        </tr>
        <tr>
            <td>Consortium</td>
            <td>Snake Oiler</td>
        </tr>
        <tr>
            <td>Crabs</td>
            <td>Calloused</td>
        </tr>
        <tr>
            <td>Cragmensch</td>
            <td>none</td>
        </tr>
        <tr>
            <td>Dogs</td>
            <td>none</td>
        </tr>
        <tr>
            <td>Dromad</td>
            <td>none</td>
        </tr>
        <tr>
            <td>Equines</td>
            <td>Longstrider</td>
        </tr>
        <tr>
            <td>Fish</td>
            <td>Swim</td>
        </tr>
        <tr>
            <td>Flowers</td>
            <td>none</td>
        </tr>
        <tr>
            <td>Frogs</td>
            <td>Jump</td>
        </tr>
        <tr>
            <td>Fungi</td>
            <td>Can give you a fungal infection</td>
        </tr>
        <tr>
            <td>Girsh</td>
            <td>none</td>
        </tr>
        <tr>
            <td>Glow Wights</td>
            <td>none</td>
        </tr>
        <tr>
            <td>Goatfolk</td>
            <td>Skillful Butchery</td>
        </tr>
        <tr>
            <td>Grazing Hedonists</td>
            <td>none</td>
        </tr>
        <tr>
            <td>Hermits</td>
            <td>Berate</td>
        </tr>
        <tr>
            <td>Insects</td>
            <td>none</td>
        </tr>
        <tr>
            <td>Issachari</td>
            <td>Weathered</td>
        </tr>
        <tr>
            <td>Joppa</td>
            <td>Harvestry</td>
        </tr>
        <tr>
            <td>Kyakukya</td>
            <td>Skillful Harvestry</td>
        </tr>
        <tr>
            <td>Mamon</td>
            <td>none</td>
        </tr>
        <tr>
            <td>Mean</td>
            <td>?</td>
        </tr>
        <tr>
            <td>MechaSub</td>
            <td>?</td>
        </tr>
        <tr>
            <td>Mechanimists</td>
            <td>Proseltyze</td>
        </tr>
        <tr>
            <td>Merchants</td>
            <td>none</td>
        </tr>
        <tr>
            <td>Mollusks</td>
            <td>none</td>
        </tr>
        <tr>
            <td>Naphtaali</td>
            <td>none</td>
        </tr>
        <tr>
            <td>Newly Sentient Beings</td>
            <td>200 skill points</td>
        </tr>
        <tr>
            <td>Oozes</td>
            <td>Slime Glands mutation</td>
        </tr>
        <tr>
            <td>Robots</td>
            <td>Iron Mind</td>
        </tr>
        <tr>
            <td>Roots</td>
            <td>Wilderness Lore: Jungles</td>
        </tr>
        <tr>
            <td>Seekers</td>
            <td>Self Discipline and various mental mutations</td>
        </tr>
        <tr>
            <td>Snapjaws</td>
            <td>none</td>
        </tr>
        <tr>
            <td>Solos</td>
            <td>?</td>
        </tr>
        <tr>
            <td>Strangers</td>
            <td>Akimbo</td>
        </tr>
        <tr>
            <td>Succulents</td>
            <td>?</td>
        </tr>
        <tr>
            <td>Swine</td>
            <td>none</td>
        </tr>
        <tr>
            <td>Templar</td>
            <td>none</td>
        </tr>
        <tr>
            <td>Tortoises</td>
            <td>none</td>
        </tr>
        <tr>
            <td>Trees</td>
            <td>none</td>
        </tr>
        <tr>
            <td>Trolls</td>
            <td>none</td>
        </tr>
        <tr>
            <td>Unshelled Reptiles</td>
            <td>?</td>
        </tr>
        <tr>
            <td>Urchins</td>
            <td>none</td>
        </tr>
        <tr>
            <td>Vines</td>
            <td>Ambidexterity</td>
        </tr>
        <tr>
            <td>Wardens</td>
            <td>Depends on the warden (Esther teaches Shield, Indrix teaches Intimidate)</td>
        </tr>
        <tr>
            <td>Water Barons</td>
            <td>?</td>
        </tr>
        <tr>
            <td>Waydroids</td>
            <td>none</td>
        </tr>
        <tr>
            <td>Winged Mammals</td>
            <td>none</td>
        </tr>
        <tr>
            <td>Worms</td>
            <td>none</td>
        </tr>
    </table>
    <h3>DV (DODGE VALUE)</h3>
    <pre>
- 22 DV = virtually untouchable
- 25 DV = max you should shoot for, if you have swift reflexes you will become invincible to all projectile attacks
- Aim for 7 AV for most of the game if you max DV
- Crits are the bane of a DV build
    </pre>
    <h3>AV</h3>
    <pre>Hit 6 av in the early game</pre>
    <pre>Unsure about this one: If you early equip anything with negative dv at all, just stack av.</pre>
    <h3>Other</h3>
    <p> Rapid Advancement after mutation level 10 goes like this: 13 - 16 - 19 - 22 - 25 - 28 - 31(most people will not
        get this far). </p>
</body>