<h2>Getting started</h2>
  <pre>
$ go get gitlab.com/thatzopoulos/lain
$ ./lain -h
Usage: lain [options] [&lt;filename&gt;]
  -d    enable debug mode
  -e string
        engine to use (eval or vm) (default "vm")
  -i    enable interactive mode
  -v    display version information
  </pre>
  <p>To execute a lain script simply pass the name to the interpreter:</p>
  <pre>$ ./lain ./scripts/hello.lain</pre>
  <p>Scripts can be made executable by adding a suitable shebang line:</p>
  <pre>$ cat hello.lain
#!/usr/bin/env lain
puts( "Hello, Lain!" );</pre>
  <p>Execution then works as you would expect:</p>
  <pre>
$ chmod 755 hello.lain
$ ./hello.lain
Hello, Lain!
  </pre>
  <p>If a script is not passed into the interpreter, the user will be dropped into a REPL.</p>
  <h2>Language Details</h2>
  <h3>Basic</h3>
  <pre>
s1 = "hello LAIN"                     // strings
i = 1000                              // int
b = true                              // bool
a = [1, "2"]                          // array
h = {"name": "Lain", "OS": "Copland"} // hash
n = null                              // null
let add = fn(a, b) { a + b };         // function
let newAdder = fn(x) { fn(y) { x + y } }; // closure
  </pre>

<h3>Types</h3>
<pre>
Type      | Syntax                                    | Comments
--------- | ----------------------------------------- | -----------------------
null      | `null`                                    |
bool      | `true false`                              |
int       | 123                                       | a signed 64-bit integer
str       | `"" "foo" "foo"+"bar"`                    |
array     | `[] [1,2]`                                |
hashes    | `{"name": "Lain", "OS": "Copland"}`       |
</pre>
  <h3>Infix Operators</h3>
  <h4>Arithmetic</h4>
  <pre>
5 + 5;
5 - 5;
5 * 5;
5 / 5;
  </pre>
  <h4>Other</h4>
  <pre>
5 &gt; 5;
5 &lt; 5;
5 == 5;
5 != 5;
  </pre>
  <h3>Prefix operators</h3>
  <pre>
!
-
  </pre>
  <h3>Builtins</h3>
  <pre>
len() // Return the number of characters in a string
puts() // Takes an unlimited number of args, prints each on a separate line and returns null
push(array,value) // Returns a new array with value pushed onto the end of array
rest(array) // Returns a new array with the first element of array removed
first(array) // Returns the first element of the array
last(array) // Returns the last element of the array
  </pre>
<h3>Other Notes </h3>
<p>Parameters in functions are evaluated from left to right. LAIN cannot make assertions about the order of argument evaluation.</p>
<p>Compiling an identifier is done with a 16-bit opcode instruction, so LAIN is limited to a maximum of 65536 global bindings. </p>
<p>Similarly, due to the 2 byte size of the OpArray opcode, the max number of elements that an array can hold is capped at 655355.</p>

  <h3>Syntax Highlighting Plugins For Various Text Editors</h3>
  <ul>
    <li><a href="https://gitlab.com/thatzopoulos/lain.vim">lain.vim</a>: vim plugin for LAIN</li>
    <li><a href="https://gitlab.com/thatzopoulos/lain/-/blob/master/plugins/emacs/lain.el">lain.el</a>: emacs plugin for LAIN</li>
    <li><a href="https://gitlab.com/thatzopoulos/lain/-/tree/master/plugins/vscode">lain.vscode</a>: vscode plugin for LAIN</li>
  </ul>
