
<h2>Examples and notes on the wiki/site itself.</h2>

<h1>header1</h1>
<h2>header2</h2>
<h3>header3</h3>
<h4>header4</h4>
<h5>header5</h5>

<p>This is a paragraph, with <b>bold</b>, <i>italic</i> and a <a href=''>link</a>.</p>

<ul>
  <li>This is a list, with:</li>
  <li><b>bold</b></li>
  <li><i>italic</i></li>
  <li><a href=''>link</a></li>
  <li><a href='meta.html'>Curly braced links</a> link internally and <a href='https://zeldas.page' target='_blank'>bracketed links</a> represent links to external sites.</li>
</ul>

<table border='1'>
  <tr>
    <th>This is a table header, with <b>bold</b>, <i>italic</i> and a <a href=''>link</a>.</th>
  </tr>
  <tr>
    <td>This is a table row, with <b>bold</b>, <i>italic</i> and a <a href=''>link</a>.</td>
  </tr>
</table>

<pre>This is a pre block, with <b>bold</b>, <i>italic</i> and a <a href=''>link</a>.</pre>

<q>This is a quote block, with <b>bold</b>, <i>italic</i> and a <a href=''>link</a>.</q>
<h5>—Author, Source</h5>

<figure>
  <img src='../media/diary/133.jpg' alt='Hackers picture' />
  <figcaption>This is a figcaption with <b>bold</b>, <i>italic</i> and a <a href=''>link</a>.</figcaption>
</figure>
