<h3>Ring of Secrets Build</h3>
<p>Prerequisites:</p>
<ul>
    <li>Choose Grace/Smithing combination for 10 Forging skill</li>
    <ul>
        <li>Grace 3 / Smithing 7</li>
        <li>Grace 2 / Smithing 8</li>
    </ul>
    <li>Strength 2-3</li>
    <li>500 XP for Jeweller (free if playing Noldor)</li>
    <li>150-250 XP for Ring of Secrets</li>
</ul>
<p>Initial Steps:</p>
<ol>
    <li>Reach depth 50' to access the forge, making sure you have enough XP for Ring of Secrets and Jeweller</li>
    <li>At the forge, create:</li>
    <ul>
        <li>Ring of Secrets (provides permanent identification)</li>
        <li>Amulet of Regeneration</li>
        <li>Ring of Armor [1d1]</li>
    </ul>
</ol>
<p>Further Progression:</p>
<ul>
    <li>Reach Forging 12 for Ring of Armor [1d2] (Give it an enchantment or mithril?)</li>
    <li>Continue investing in Forging as needed for weapons/armor that you want</li>
</ul>
<h3>Blocking archer with smithing</h3>
<p>Character creation: Noldor Feanor 3 Str/4 Dex/4 Con/3 Gra with 2 Melee, 3 Evasion and 6 Smithing.
    When you enter the dungeon, buy Weaponsmith, Jeweler and Enchantment right away.
</p>
<p>
    50-100 ft: Look for a stack of arrows in the early game; ideally you'll find one with 50+ arrows before the 100 ft
    forge. I'll pick fights with mewlips if I need to: they have a higher-than-average chance to drop a stack.
</p>
<p>
    100 ft forge: Make, in order: a ring of accuracy, an amulet of the vigilant eye and a longbow of radiance.

</p>
<p>
    100-300 ft: Take Fletchery and fletch your arrows ASAP. Your radiant bow shots will stun orcs and trolls to make
    them easier to shoot again. When you get hungry, eat your lembas to restore your Grace. When your inventory starts
    filling up, buy 5 Perception and Alchemy (2000 exp). Save 1500 exp to get Armoursmith for the 300 ft forge, but you
    may need to squeeze in 4 Archery and Point Blank Archery if a troll gets on top of you.

</p>
<p>
    300 ft forge: Make, in order: gloves of archery <+2>, round shield of protection [+0,1d5] and a helm of brilliance.

</p>
<p>
    300-500 ft: Save another 1500 exp to raise Smithing from 6 to 8 for the 500 ft forge. Take Blocking to get the most
    use out of your new shield. Squeeze in some Evasion if you need to; you want roughly 1 Evasion for every 50 ft of
    depth.

</p>
<p>
    500 ft forge: Make: Ring of the Laiquendi, Mail Corslet of the Iron Hills and either Boots of Brethil or Cloak of
    the Scarlet Heart [+2].
    Taking Iron Hills lets you stand toe-to-toe with trolls in corridors without having to back up. If you find spare
    mithril, a Feanorian lamp is the most obvious use for it. If you go further with smithing, a Mattock of Belegost is
    good for letting you tunnel through solid rock.

</p>